# Initialization

In [13]:
!pip install 'snowflake-connector-python[pandas]' redis faker

Requirement already satisfied: redis in /opt/anaconda3/lib/python3.12/site-packages (5.2.1)
Collecting faker
  Downloading faker-37.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: snowflake-connector-python[pandas] in /opt/anaconda3/lib/python3.12/site-packages (3.14.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (43.0.0)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (25.0.0)
Requirement already satisfied: pyjwt<3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2.8.0)
Requirement already satisfied: pytz in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2024.1)
Requirement already satisfied: requests<3.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2.32.3)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (24.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (3.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2024.12.14)
Requirement already satisfied: typing_extensions<5,>=4.3 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (4.11.0)
Requirement already satisfied: filelock<4,>=3.5 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (3.13.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (3.10.0)
Requirement already satisfied: tomlkit in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (0.13.2)
Requirement already satisfied: pandas<3.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (2.2.3)
Requirement already satisfied: pyarrow<19.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from snowflake-connector-python[pandas]) (18.1.0)
Requirement already satisfied: tzdata in /opt/anaconda3/lib/python3.12/site-packages (from faker) (2025.1)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python[pandas]) (2.21)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<3.0.0,>=1.0.0->snowflake-connector-python[pandas]) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<3.0.0,>=1.0.0->snowflake-connector-python[pandas]) (2.9.0.post0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0->snowflake-connector-python[pandas]) (2.2.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.0.0->snowflake-connector-python[pandas]) (1.16.0)
Downloading faker-37.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 6.1 MB/s eta 0:00:00 MB/s eta 0:00:01
Installing collected packages: faker
Successfully installed faker-37.0.0

In [1]:
from sqlalchemy.orm import sessionmaker
import snowflake.connector
import redis
import pandas as pd
import matplotlib.pyplot as plt
import os
from sqlalchemy import create_engine, text
from dotenv import load_dotenv
from sqlalchemy import Column, Integer, String, Text, Float, TIMESTAMP
from sqlalchemy.ext.declarative import declarative_base
from snowflake.connector.pandas_tools import write_pandas

In [2]:
DATABASE_URL = "postgresql://student:HSUnivPGTests981@database-1.c10eiwo8yylk.ap-south-1.rds.amazonaws.com:5432/postgres"
REDIS_HOST = 'redis-10515.c330.asia-south1-1.gce.redns.redis-cloud.com'
REDIS_PORT = 10515

REDIS_USERNAME = 'default'
REDIS_PASSWORD = 'lWmcwbRcHhQrogqmeGPkl4VECEz5who0'

SNOWFLAKE_USER = 'student'
SNOWFLAKE_PASSWORD = 'HSUnivSFTests970'
SNOWFLAKE_ACCOUNT = 'gkb48589'
SNOWFLAKE_WAREHOUSE = 'COMPUTE_s'
SNOWFLAKE_DATABASE = 'DWH'
SNOWFLAKE_SCHEMA = 'SF_SAMPLE.PUBLIC'

# 1. Postgres Database
Here we fetch the issues from `Postgres` database.

In [3]:
postgres_engine = create_engine(DATABASE_URL)
with postgres_engine.connect() as conn:
    df_issues = pd.read_sql(text("SELECT * FROM urbanpulse.issue"), conn)

print("Extracted issues:")
df_issues.sample(5)

Extracted issues:

,issue_id,citizen_id,description,category,priority_level,latitude,longitude,status,created_at
76,806,34,Discolored tap water reported in multiple areas.,Water Supply,3,12.34,56.78,Pending,2025-03-04 07:32:37.881823
57,659,29,Bad odor from waste collection site affecting ...,Waste Management,3,12.34,56.78,Pending,2025-03-04 07:31:11.684367
90,736,55,Discolored tap water reported in multiple areas.,Water Supply,3,12.34,56.78,Pending,2025-03-04 07:31:56.856768
64,710,54,Several streetlights are out in the city park.,Streetlights,3,12.34,56.78,Pending,2025-03-04 07:31:41.590986
56,652,50,New cracks forming on the downtown roads.,Road Repair,3,12.34,56.78,Pending,2025-03-04 07:31:07.584947

# 2. Redis Database
We then get the total number of votes from `Redis` database.

In [4]:
import random
import redis
import pandas as pd
from tqdm import tqdm

# Redis connection
r = redis.Redis(
    host=REDIS_HOST,
    port=REDIS_PORT,
    username=REDIS_USERNAME,
    password=REDIS_PASSWORD,
    decode_responses=True
)
ISSUE_PREFIX = "issue:"

In [5]:
def get_votes_per_issue():
    """Fetches total votes per issue ID from Redis."""
    vote_counts = {}

    # Fetch all keys matching the voting pattern
    all_keys = r.keys(f"{ISSUE_PREFIX}*:votes")

    for key in tqdm(all_keys):
        issue_id = key.split(":")[1]  # Extract issue ID from key
        vote_count = r.hget(key, "total_votes")  # Get vote count

        if vote_count:
            vote_counts[issue_id] = int(vote_count)

    return vote_counts

# Fetch vote counts
votes_per_issue = get_votes_per_issue()
df_redis = pd.DataFrame(votes_per_issue.items(), columns=['issue_id', 'redis_votes'])

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:16<00:00,  5.91it/s]

In [6]:
df_redis

   issue_id  redis_votes
0        98          211
1       120           49
2       659           53
3       743           24
4       662           81
..      ...          ...
95      908          104
96      781          103
97      118          114
98      641          111
99      623          201

[100 rows x 2 columns]

# 3. Snowflake Database
We push both tables from the previous steps to the `Snowflake` database.

In [7]:
sf_conn = snowflake.connector.connect(
    user=SNOWFLAKE_USER,
    password=SNOWFLAKE_PASSWORD,
    account=SNOWFLAKE_ACCOUNT,
    warehouse=SNOWFLAKE_WAREHOUSE,
    database=SNOWFLAKE_DATABASE,
    schema=SNOWFLAKE_SCHEMA,
    ocsp_fail_open=False
)

sf_cursor = sf_conn.cursor()

In [8]:
# Create staging tables for issues and votes (if not exist)
create_issues_table = f"""
CREATE OR REPLACE TABLE issues_analytics (
    issue_id NUMBER,
    citizen_id NUMBER,
    description TEXT,
    category VARCHAR,
    priority_level NUMBER,
    latitude FLOAT,
    longitude FLOAT,
    status VARCHAR,
    created_at TIMESTAMP
)
"""
create_votes_table = f"""
CREATE OR REPLACE TABLE votes_analytics (
    vote_id NUMBER,
    citizen_id NUMBER,
    issue_id NUMBER,
    priority_vote NUMBER,
    created_at TIMESTAMP
)
"""

sf_cursor.execute("USE DATABASE SF_SAMPLE;")
sf_cursor.execute("USE SCHEMA urbanpulse;")

sf_cursor.execute(create_issues_table)
sf_cursor.execute(create_votes_table)

In [9]:
write_pandas(sf_conn, df_issues, "ISSUES_ANALYTICS", quote_identifiers=False)

(True,
 1,
 100,
 [('imszxjawxf/file0.txt', 'LOADED', 100, 100, 1, 0, None, None, None, None)])

In [10]:
create_redis_votes_table = f"""
CREATE OR REPLACE TABLE redis_votes_analytics (
    issue_id NUMBER,
    redis_votes NUMBER
)
"""
sf_cursor.execute(create_redis_votes_table)
write_pandas(sf_conn, df_redis, "REDIS_VOTES_ANALYTICS", quote_identifiers=False)

sf_conn.commit()
print("Data loaded into Snowflake.")

Data loaded into Snowflake.

In [11]:
create_data_mart = f"""
CREATE OR REPLACE VIEW issues_summary AS
SELECT
    i.issue_id,
    i.description,
    i.category,
    i.priority_level,
    i.status,
    COALESCE(r.redis_votes, 0) AS total_votes,
FROM issues_analytics i
LEFT JOIN redis_votes_analytics r ON i.issue_id = r.issue_id
GROUP BY i.issue_id, i.description, i.category, i.priority_level, i.status, r.redis_votes
ORDER BY total_votes DESC
"""
sf_cursor.execute(create_data_mart)
sf_conn.commit()
print("Analytical data mart (view) created.")

Analytical data mart (view) created.

# 4. Add more citizens to the Postgres Database

In [14]:
import random
import pandas as pd
from faker import Faker
from sqlalchemy import create_engine, text

# Initialize Faker for generating realistic data
fake = Faker()

# PostgreSQL connection
postgres_engine = create_engine(DATABASE_URL)

def generate_citizen():
    """Generates a citizen's details with trimmed values to fit database constraints."""
    first_name = fake.first_name()[:20]  # Ensure it fits in VARCHAR(20)
    last_name = fake.last_name()[:20]  # Ensure it fits in VARCHAR(20)
    full_name = f"{first_name} {last_name}"[:40]  # Ensure it fits in VARCHAR(40)
    sex = random.choice(["Male", "Female"])  # Assuming sex is VARCHAR(10)
    email = fake.email()[:50]  # Limit email to 50 characters
    contact_number = fake.phone_number()[:20]  # Limit contact number to 20 characters
    password = fake.password(length=12)[:20]  # Limit password to 20 characters
    address = fake.address()[:100]  # Assuming address is VARCHAR(100)

    return {
        "first_name": first_name,
        "last_name": last_name,
        "full_name": full_name,
        "sex": sex,
        "email": email,
        "contact_number": contact_number,
        "password": password,
        "address": address
    }

def insert_citizens(num_citizens=50):
    """Inserts 10 randomly generated citizens into the database."""
    insert_query = text("""
        INSERT INTO urbanpulse.citizen (first_name, last_name, full_name, sex, email, contact_number, password, address)
        VALUES (:first_name, :last_name, :full_name, :sex, :email, :contact_number, :password, :address)
    """)

    with postgres_engine.connect() as conn:
        for _ in range(num_citizens):
            citizen_data = generate_citizen()
            conn.execute(insert_query, citizen_data)

        conn.commit()

    print(f"✅ Successfully inserted {num_citizens} citizens.")

In [15]:
insert_citizens(num_citizens=100)

✅ Successfully inserted 100 citizens.

In [16]:
with postgres_engine.connect() as conn:
    num_citizens = conn.execute(text("SELECT COUNT(*) FROM urbanpulse.citizen")).scalar()
print(num_citizens)

362

# 5. Update vote counts in Redis database

In [17]:
import random
import redis
from tqdm import tqdm

# Define more distinct weight factors (ensuring all weights ≤ 1)
CATEGORY_WEIGHTS = {
    'Road Repair': 0.95,        # Very high priority
    'Waste Management': 0.40,   # Lower priority
    'Streetlights': 0.30,       # Low priority
    'Public Transport': 1.00,   # Highest priority
    'Water Supply': 0.60        # Medium priority
}

def reset_and_update_votes(df_issues, num_citizens):
    """Resets previous votes and updates Redis with weighted vote counts."""
    for _, row in tqdm(df_issues.iterrows()):
        issue_id = row["issue_id"]
        category = row["category"]  # Ensure 'category' exists in df_issues
        vote_key = f"{ISSUE_PREFIX}{issue_id}:votes"

        # Get weight factor for the category (default to 1 if missing)
        weight = CATEGORY_WEIGHTS.get(category, 1.0)

        # Generate weighted votes (scaled by weight but based on total citizens)
        new_vote_count = int(random.randint(0, num_citizens) * weight)

        # Reset previous vote count
        r.delete(vote_key)

        # Store the new weighted vote count in Redis
        r.hset(vote_key, "total_votes", new_vote_count)

    print(f"✅ Updated votes for {len(df_issues)} issues in Redis with weighted distribution.")

# Fetch the total number of citizens to base vote counts on
with postgres_engine.connect() as conn:
    num_citizens = conn.execute(text("SELECT COUNT(*) FROM urbanpulse.citizen")).scalar()

# Update vote counts in Redis for all issues in df_updated_issues
reset_and_update_votes(df_issues, num_citizens)

100it [00:28,  3.49it/s]

✅ Updated votes for 100 issues in Redis with weighted distribution.

In [18]:
votes_per_issue = get_votes_per_issue()
df_redis = pd.DataFrame(votes_per_issue.items(), columns=['issue_id', 'redis_votes'])

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:13<00:00,  7.48it/s]

# 6. Push the updates to the Snowflake database

In [19]:
create_redis_votes_table = f"""
CREATE OR REPLACE TABLE redis_votes_analytics (
    issue_id NUMBER,
    redis_votes NUMBER
)
"""
sf_cursor.execute(create_redis_votes_table)
write_pandas(sf_conn, df_redis, "REDIS_VOTES_ANALYTICS", quote_identifiers=False)

sf_conn.commit()
print("Data loaded into Snowflake.")

Data loaded into Snowflake.

In [20]:
create_data_mart = f"""
CREATE OR REPLACE VIEW issues_summary AS
SELECT
    i.issue_id,
    i.description,
    i.category,
    i.priority_level,
    i.status,
    COALESCE(r.redis_votes, 0) AS total_votes,
FROM issues_analytics i
LEFT JOIN redis_votes_analytics r ON i.issue_id = r.issue_id
GROUP BY i.issue_id, i.description, i.category, i.priority_level, i.status, r.redis_votes
ORDER BY total_votes DESC
"""
sf_cursor.execute(create_data_mart)
sf_conn.commit()
print("Analytical data mart (view) created.")

Analytical data mart (view) created.