In [5]:
import sqlite3, random, timeit
from timeit import default_timer as timer
from datetime import timedelta

conn = sqlite3.connect('/tmp/db.sqlite', isolation_level=None)

In [2]:
conn.execute("""drop table Product;""")

OperationalError: no such table: Product

In [2]:
conn.execute("""CREATE TABLE Product(
	ProductID int primary key NOT NULL,
	Name varchar,
	Type varchar,
	Price int CHECK(Price>=0),
	Amount int
);""")

In [3]:
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(16,'Tea','Drink',2, 'A lot of stuff');""")

In [4]:
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(11,'Milk','Drink',5, 10);""")
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(12,'Water','Drink',2, 10);""")
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(13,'Bread','Food',3, 10);""")
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(15,'Tea','Drink',8, 10);""")

In [62]:
custs = conn.execute("select * from product").fetchall()
for c in custs:
    print(c)

(16, 'Tea', 'Drink', 2, 'A lot of stuff')

In [52]:
conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(14,'Milk','Drink',2, 10);""")


conn.execute("""INSERT INTO Product(ProductID,Name,Type,Price, Amount)
VALUES(14,'Tea','Drink',-2, 10);""")

IntegrityError: UNIQUE constraint failed: Product.ProductID

In [53]:
conn.execute("""CREATE TABLE Purchase(
	ProductID int,
	CustomerID int,
	PurchaseDate datetime,
	Amount int,
	Price int,
	FOREIGN KEY(ProductID) REFERENCES Product(ProductID)
);""")

OperationalError: table Purchase already exists

In [56]:
conn.execute("""INSERT INTO Purchase(ProductID,CustomerID,PurchaseDate,Price,Amount)
VALUES(17, 2, datetime('2021-10-27'), 3, 2);""")

In [57]:
pur = conn.execute("select * from Purchase").fetchall()
for c in pur:
    print(c)

(17, 2, '2021-10-27 00:00:00', 2, 3)
(17, 2, '2021-10-27 00:00:00', 2, 3)
(17, 2, '2021-10-27 00:00:00', 2, 3)

In [58]:
conn.execute("""PRAGMA foreign_keys = FALSE;""")


conn.execute("""DROP TABLE Purchase;""")


conn.execute("""CREATE TABLE Purchase(
	ProductID int,
	CustomerID int,
	PurchaseDate datetime,
	Amount int,
	Price int,
	FOREIGN KEY(ProductID) REFERENCES Product(ProductID)
);""")


conn.execute("""INSERT INTO Purchase(ProductID,CustomerID,PurchaseDate,Price,Amount)
VALUES(17, 2, datetime('2021-10-27'), 3, 2);""")