In [1]:
import sqlalchemy
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String
from sqlalchemy.orm import sessionmaker
import sqlite3, random, timeit
from timeit import default_timer as timer
from datetime import timedelta

In [2]:
engine = create_engine('sqlite:////tmp/alch_db.sqlite', echo=True)

In [3]:
Base = declarative_base()

In [4]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'user'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    # __table_args__ = {'schema': 'bookmaker'}
    
    # Defines to_string() representation 
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                self.name, self.fullname, self.password)

In [5]:
Base.metadata.create_all(engine)

2025-02-26 11:55:25,352 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-26 11:55:25,353 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("user")
2025-02-26 11:55:25,353 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-02-26 11:55:25,355 INFO sqlalchemy.engine.Engine COMMIT

In [22]:
Session = sessionmaker(bind=engine)
session = Session()

In [23]:
ed_user = User(name='ed1', fullname='Ed Jones1', password='edspassword1')
session.add(ed_user)
ed_user

In [24]:
session.commit()

2025-02-26 11:44:46,837 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-02-26 11:44:46,840 INFO sqlalchemy.engine.Engine INSERT INTO user (name, fullname, password) VALUES (?, ?, ?)
2025-02-26 11:44:46,841 INFO sqlalchemy.engine.Engine [generated in 0.00099s] ('ed1', 'Ed Jones1', 'edspassword1')
2025-02-26 11:44:46,842 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
conn = sqlite3.connect('/tmp/alch_db.sqlite',isolation_level=None)
us = conn.execute("select * from user").fetchall()
for u in us:
    print(u)

(1, 'ed1', 'Ed Jones1', 'edspassword1')
(2, 'ed1', 'Ed Jones1', 'edspassword1')
(3, 'ed1', 'Ed Jones1', 'edspassword1')
(4, 'ed1', 'Ed Jones1', 'edspassword1')
(5, 'ed1', 'Ed Jones1', 'edspassword1')
(6, 'ed1', 'Ed Jones1', 'f8s7ccs')
(7, 'wendy', 'Wendy Williams', 'foobar')
(8, 'mary', 'Mary Contrary', 'xxg527')
(9, 'fred', 'Fred Flinstone', 'blah')
(10, 'wendy', 'Wendy Williams', 'foobar')
(11, 'mary', 'Mary Contrary', 'xxg527')
(12, 'fred', 'Fred Flinstone', 'blah')
(13, 'wendy', 'Wendy Williams', 'foobar')
(14, 'mary', 'Mary Contrary', 'xxg527')
(15, 'fred', 'Fred Flinstone', 'blah')
(16, 'XXX', 'Wendy Williams', 'foobar')
(17, 'YYY', 'Mary Contrary', 'xxg527')
(18, 'ed1', 'Ed Jones1', 'f8s7ccs')
(19, 'wendy', 'Wendy Williams', 'foobar')
(20, 'mary', 'Mary Contrary', 'xxg527')
(21, 'fred', 'Fred Flinstone', 'blah')
(22, 'wendy', 'Wendy Williams', 'foobar')
(23, 'mary', 'Mary Contrary', 'xxg527')
(24, 'fred', 'Fred Flinstone', 'blah')
(25, 'XXX', 'Wendy Williams', 'foobar')
(26, 'YYY', 'Mary Contrary', 'xxg527')

In [9]:
our_user = session.query(User).filter_by(name='ed').first()
ed_user.password = 'f8s7ccs'
session.commit()

NameError: name 'session' is not defined

In [10]:
session.add_all([
        User(name='wendy', fullname='Wendy Williams', password='foobar'),
        User(name='mary', fullname='Mary Contrary', password='xxg527'),
        User(name='fred', fullname='Fred Flinstone', password='blah')])

session.commit()

NameError: name 'session' is not defined

In [11]:
session.add_all([
        User(name='wendy', fullname='Wendy Williams', password='foobar'),
        User(name='mary', fullname='Mary Contrary', password='xxg527'),
        User(name='fred', fullname='Fred Flinstone', password='blah')])


session.add_all([
        User(name='XXX', fullname='Wendy Williams', password='foobar'),
        User(name='YYY', fullname='Mary Contrary', password='xxg527')])

session.commit()

NameError: name 'session' is not defined

In [12]:
# import sqlite3, random, timeit
# from timeit import default_timer as timer
# from datetime import timedelta
# conn = sqlite3.connect('/tmp/db.sqlite')


conn.execute("""CREATE TABLE Customer(
	CustomerID int,
	Name varchar,
	Type varchar,
	Balance int 
);""");

custs = conn.execute("select * from customer").fetchall()
for c in custs:
    print(c)

OperationalError: table Customer already exists

In [13]:
conn = sqlite3.connect('/tmp/db.sqlite')
conn.execute("""CREATE TABLE Customer(
	CustomerID int,
	Name varchar,
	Type varchar,
	Balance int 
);""");
conn.commit()
print(conn.execute("select count(*) from customer").fetchone())
conn.execute("""INSERT INTO Customer(CustomerID,Name,Type,Balance) VALUES(1,'Mike','Person', 10);""")
print(conn.execute("select count(*) from customer").fetchone())
conn.commit()
print(conn.execute("select count(*) from customer").fetchone())

(0,)
(1,)
(1,)

In [15]:


print(conn.execute("select count(*) from customer").fetchone())
conn.execute("""INSERT INTO Customer(CustomerID,Name,Type,Balance) VALUES(1,'Mike','Person', 10);""")
print(conn.execute("select count(*) from customer").fetchone())
conn.commit()
print(conn.execute("select count(*) from customer").fetchone())

(0,)
(1,)
(1,)

In [16]:
print(conn.execute("select count(*) from customer").fetchone())
conn.execute("""delete from Customer where CustomerID=1;""")
print(conn.execute("select count(*) from customer").fetchone())
conn.rollback()
print(conn.execute("select count(*) from customer").fetchone())

(1,)
(0,)
(1,)